@using KandyCrown.Web.Helpers

@{
    Layout = null;
}


<div class="knd-menu-frame knd-menu-frame-2">
    <div class="knd-menu-window">
        <div class="container">
            <div class="row knd-no-g">
                <div class="col-lg-6">
                    <div class="knd-left-side">
                        <div class="knd-menu-part knd-inner-scroll" id="swupMenu">
                            <ul class="knd-main-menu knd-c-gone">
                                <li class="knd-has-children">
                                    <a href="#.">Template style</a>
                                    <ul>
                                        <li><a href="home-1.html" target="_blank" data-no-swup>Friendly</a></li>
                                        <li class="knd-current"><a href="home-4.html" target="_blank" data-no-swup>Stylish</a></li>
                                    </ul>
                                </li>
                                <li class="knd-has-children">
                                    <a href="#.">Home type</a>
                                    <ul>
                                        <li class="knd-current"><a href="home-4.html">Corporate</a></li>
                                        <li><a href="home-5.html">Agency</a></li>
                                        <li><a href="home-6.html">Personal</a></li>
                                    </ul>
                                </li>
                                <li class="knd-has-children">
                                    <a href="#.">Portfolio</a>
                                    <ul>
                                        <li><a href="portfolio-1-stl.html">Grid type 1</a></li>
                                        <li><a href="portfolio-2-stl.html">Grid type 2</a></li>
                                        <li><a href="portfolio-3-stl.html">Grid type 3</a></li>
                                    </ul>
                                </li>
                                <li class="knd-has-children">
                                    <a href="#.">Pages</a>
                                    <ul>
                                        <li><a href="team-stl.html">Team</a></li>
                                        <li><a href="contact-stl.html">Contact</a></li>
                                        <li><a href="services-stl.html">Services</a></li>
                                        <li><a href="service-stl.html">Service single</a></li>
                                        <li><a href="blog-stl.html">Blog</a></li>
                                        <li><a href="publication-stl.html">Publication</a></li>
                                        <li><a href="404-stl.html">404</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="knd-bottom-part">
                            <p class="knd-text-sm">©2024. All rights reserved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="knd-right-side">
                        <div class="knd-links-part">
                            <ul class="knd-links">
                                <li><a href="#.">Privacy policy</a></li>
                                <li><a href="#.">Therms and conditions</a></li>
                                <li><a href="#.">Site map</a></li>
                                <li><a href="#.">Careers</a></li>
                            </ul>
                        </div>
                        <div class="knd-blog-part">
                            <div class="knd-blog-section">
                                <div class="knd-jcb knd-aic">
                                    <h4 class="knd-head4 knd-mb30">Latest from blog</h4>
                                    <div class="knd-sb-nav knd-mb30">
                                        <div class="knd-slider-btn knd-sb-prev knd-c-gone"><i class="fal fa-arrow-left"></i></div>
                                        <div class="knd-slider-btn knd-sb-next knd-c-gone"><i class="fal fa-arrow-right"></i></div>
                                    </div>
                                </div>
                                <div class="swiper-container knd-blog-slider-sm">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="publication-stl.html" class="knd-blog-card-sm knd-c-gone">
                                                <div class="knd-cover">
                                                    <div class="knd-hover-frame">
                                                        <img src="~/theme/v1/img/blog/9.jpg" alt="cover">
                                                    </div>
                                                </div>
                                                <div class="knd-text-frame">
                                                    <h4 class="knd-head6 knd-max-1row-text">How to Become a Graphic Designer in 10 Simple Steps</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="publication-stl.html" class="knd-blog-card-sm knd-c-gone">
                                                <div class="knd-cover">
                                                    <div class="knd-hover-frame">
                                                        <img src="img/blog/10.jpg" alt="cover">
                                                    </div>
                                                </div>
                                                <div class="knd-text-frame">
                                                    <h4 class="knd-head6 knd-max-1row-text">10 Essential Tools Every Graphic Designer Should Master</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="publication-stl.html" class="knd-blog-card-sm knd-c-gone">
                                                <div class="knd-cover">
                                                    <div class="knd-hover-frame">
                                                        <img src="img/blog/11.jpg" alt="cover">
                                                    </div>
                                                </div>
                                                <div class="knd-text-frame">
                                                    <h4 class="knd-head6 knd-max-1row-text">The Ultimate Guide to UI/UX Design for Beginners</h4>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="publication-stl.html" class="knd-blog-card-sm knd-c-gone">
                                                <div class="knd-cover">
                                                    <div class="knd-hover-frame">
                                                        <img src="img/blog/12.jpg" alt="cover">
                                                    </div>
                                                </div>
                                                <div class="knd-text-frame">
                                                    <h4 class="knd-head6 knd-max-1row-text">How to Create Stunning Visuals with Minimal Effort</h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="knd-menu-social">
                                <ul class="knd-social knd-c-gone">
                                    <li><a href="#." target="_blank" data-no-swup><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#." target="_blank" data-no-swup><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#." target="_blank" data-no-swup><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#." target="_blank" data-no-swup><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#." target="_blank" data-no-swup><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>