@using KandyCrown.Web.Helpers

@{
    Layout = null;
}

<div class="knd-left-side knd-tp-transition" id="swupTpLeft">
    <a href="#top" class="knd-logo knd-scroll-to" data-no-swup>
        <i class="far fa-cube"></i>
        <span>KC</span>
    </a>
</div>

<div class="knd-onepage-nav" id="swup-opm">
    <ul>
        <li><a href="#services" class="knd-scroll-to" data-no-swup>Services</a></li>
        <li><a href="#team" class="knd-scroll-to" data-no-swup>Team</a></li>
        <li><a href="#reviews" class="knd-scroll-to" data-no-swup>Reviews</a></li>
        <li><a href="#blog" class="knd-scroll-to" data-no-swup>Blog</a></li>
    </ul>
</div>

<div class="knd-buttons-tp-frame knd-c-gone">
    <div class="knd-buttons">
        <a href="contact-stl.html" class="knd-tp-btn"><i class="fal fa-envelope"></i></a>
        <div class="knd-tp-btn">
            <div class="knd-menu-btn"><span></span></div>
        </div>
    </div>
</div>