@using KandyCrown.Web.Helpers

@{
    Layout = null;
}

<div class="knd-left-side knd-tp-transition" id="swupTpLeft">
    <a href="#top" class="knd-logo knd-scroll-to" data-no-swup>
        <img src="~/theme/v1/img/shapes/Logo.png" alt="Kandy Crown Logo - Modern Sri Lankan Restaurant and Bar" class="knd-logo knd-scroll-to">
        <span>Kandy Crown</span>
    </a>
</div>

<div class="knd-onepage-nav" id="swup-opm">
    <ul>
        <li><a href="#top" class="knd-scroll-to" data-no-swup>Home</a></li>
        <li><a href="#menu-bar" class="knd-scroll-to" data-no-swup>What We Serve</a></li>
        <li><a href="#scroll" class="knd-scroll-to" data-no-swup>Who We Are</a></li>
        <li><a href="#concept" class="knd-scroll-to" data-no-swup>Philosophy</a></li>
        <li><a href="#subscribe" class="knd-scroll-to" data-no-swup>Contact Us</a></li>
    </ul>
</div>

<div class="knd-buttons-tp-frame knd-c-gone">
    <div class="knd-buttons">
        <a href="contact-stl.html" class="knd-tp-btn"><i class="fal fa-envelope"></i></a>
        <div class="knd-tp-btn">
            <div class="knd-menu-btn"><span></span></div>
        </div>
    </div>
</div>