@using KandyCrown.Web.Helpers

@{
    Layout = null;
}

<!-- footer -->
<footer class="knd-footer knd-p-160-160">
    <div class="container">
        <div class="row knd-no-g">
            <div class="col-lg-6 knd-up">
                <a href="#" class="knd-footer-contact knd-mb90">
                    <h6 class="knd-footer-link knd-rubber knd-m1">Let’s TALK</h6>
                    <span class="knd-stylized-btn knd-c-gone">
                        <i class="fal fa-arrow-up"></i>
                        <span>Read more</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-12">
                <div class="knd-footer-menu-frame knd-mb90 knd-up">
                    <ul class="knd-footer-menu">
                        <li><a href="#top" class="knd-scroll-to" data-no-swup>Home</a></li>
                        <li><a href="#menu-bar" class="knd-scroll-to" data-no-swup>What We Serve</a></li>
                        <li><a href="#scroll" class="knd-scroll-to" data-no-swup>Who We Are</a></li>
                        <li><a href="#concept" class="knd-scroll-to" data-no-swup>Philosophy</a></li>
                        <li><a href="#subscribe" class="knd-scroll-to" data-no-swup>Contact Us</a></li>
                    </ul>
                    <ul class="knd-social knd-c-gone">
                        <li><a href="#." target="_blank" data-no-swup><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#." target="_blank" data-no-swup><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#." target="_blank" data-no-swup><i class="fab fa-tiktok"></i></a></li>
                        <li><a href="#." target="_blank" data-no-swup><i class="fab fa-google"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="knd-footer-bottom knd-up">
                    <p class="knd-text-sm">©@DateTime.Now.Year Wild Ceylon. All rights reserved.</p>
                    <p class="knd-text-sm">Developed by: <a href="#" class="knd-text-link knd-a2 knd-c-gone">Web Team</a></p>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- footer end -->